.top-bar #subscribe-header {
    float: left;
}

.top-bar #subscribe-header li {
    padding: 10px 0 10px 12px;
}

.top-bar #header-menu li {
    padding: 10px 12px 10px 0;
}

.top-bar #header-menu {
    float: right;
}

.top-bar menu li {
    position: relative;
    float: left;
    font-size: 11px;
    line-height: 10px;
}

.top-bar menu {
    padding: 0;
    margin: 0;

}

.top-bar {

    height: 32px;
    background-color: #F0F0F0;
}

.top-bar .content {
    margin: 0 auto;
    width: 1020px;
}

.top-bar .ic {
    display: inline-block;
    background-image: url(http://static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png);
    background-repeat: no-repeat;
    margin-top: -2px;
    margin-left: 4px;
    padding-left: 10px;
    vertical-align: middle;
    width: 5px;
    height: 3px;
    background-position: -153px -36px;
}

.drop-box {
    position: absolute;
    top: 0;
    margin: 0;
    right: -12px;
    background-color: white;
    top: 30px;
    font-size: 12px;
    background-color: #fff;
    padding: 8px 20px 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    display: none;

}

.drop-box a {
    display: block;
    white-space: nowrap;
    padding-top: 12px;

}

.drop-box a:hover {
    color: #4285F4;
    text-decoration: underline;
}

.category {
    width: 110px;
    height: 115px;
    display: inline-block;
    font-size: 12px;
}

.header-category {
    width: 1020px;
    margin: 0 auto;
    font-size: 0;
}

.gnb-container {
    width: calc(100% - 140px);
    display: inline-block;
    font-size: 12px;
    padding-left: 30px;
    padding-top: 25px;
}

.gnb li {
    display: inline-block;
}

/*.vendor-join:hover > p{*/
/*    display:block;*/
/*}*/
.category {
    width: 110px;
    height: 42px;
    background-image: url("https://static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png");
    background-repeat: no-repeat;
    vertical-align: top;
    padding-top: 73px;
    color: #fff;
    font-size: 13px;
    text-align: center;
    background-position: 0 0;
}

.category:hover {
    cursor: pointer;
}

.logo {
    margin: 0;
    margin-top: 2px;
    margin-right: 16px;
    display: inline-block;
}

.search {
    display: inline-block;
    border: 2px solid #4285f4;
    height: 37px;
    width: 518px;
    vertical-align: top;
    font-size: 0;
}

.select-category {
    border-right: 1px solid #ddd;
    width: 134px;
    height: 37px;
    font-size: 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.select-category-button {
    background: url("//img1a.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png") 6px -165px no-repeat;
    width: 30px;
    height: inherit;
    display: inline-block;
    vertical-align: middle;
}

.select-category-current {
    display: inline-block;
    vertical-align: middle;
    width: 104px;
    font-size: 12px;
    font-weight: normal;
    text-indent: 10px;
}

.select-category .drop-box {
    top: 37px;

    width: calc(100% + 1px);
    padding: 0 0 10px 0;
    text-indent: 10px;
    left: -2px;
    max-height: 875px;
    overflow: scroll;
}

.coupang-search {
    width: calc(100% - 135px);
    display: inline-block;
    height: inherit;
}

.coupang-search .search-input {
    width: 306px;
    text-indent: 10px;
    outline: none;
    border: none;
    color: #333;
    height: inherit;
    padding: 0px;
    vertical-align: top;
}

.search form {
    height: inherit;
}

.coupang-search .speech-mic {
    width: 26px;
    height: 26px;
    vertical-align: top;
    background: url(https://img1a.coupangcdn.com/image/coupang/common/ic_mic.png) 3px 1px no-repeat;
    background-size: 20px 48px;
    display: inline-block;
    margin-top: 5px;

}

.coupang-search .header-search-btn {
    background-image: url(https://static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 39px;
    background-position: -112px -71px;
    display: inline-block;
    vertical-align: middle;
}

.gnb {
    padding: 0;
}

.gnb li.rocket-delivery {
    background-image: url(https://static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png);
    padding-left: 10px;
    background-position: 0 -118px;
}

.gnb a {
    padding: 7px 14px 0;
    font-weight: normal;
    display: block;
}