.top-bar #subscribe-header {
    float: left;
}

.top-bar #subscribe-header li {
    padding: 10px 0 10px 12px;
}

.top-bar #header-menu li {
    padding: 10px 12px 10px 0;
}

.top-bar #header-menu {
    float: right;
}

.top-bar menu li {
    position: relative;
    float: left;
    font-size: 11px;
    line-height: 10px;
}

.top-bar menu {
    padding: 0;
    margin: 0;

}

.top-bar {

    height: 32px;
    background-color: #F0F0F0;
}

.top-bar .content {
    margin: 0 auto;
    width: 1020px;
}

.top-bar .ic {
    display: inline-block;
    background-image: url(http://static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png);
    background-repeat: no-repeat;
    margin-top: -2px;
    margin-left: 4px;
    padding-left: 10px;
    vertical-align: middle;
    width: 5px;
    height: 3px;
    background-position: -153px -36px;
}

.drop-box {
    position: absolute;
    top: 0;
    margin: 0;
    right: -12px;
    background-color: white;
    top: 30px;
    font-size: 12px;
    background-color: #fff;
    padding: 8px 20px 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    display: none;

}

.drop-box a {
    display: block;
    white-space: nowrap;
    padding-top: 12px;

}

.drop-box a:hover {
    color: #4285F4;
    text-decoration: underline;
}

.category {
    width: 110px;
    height: 115px;
    display: inline-block;
    font-size:12px;
}

.header-category {
    width: 1020px;
    margin:0 auto;
    font-size:0;
}
.gnb-container{
    width: calc(100% - 110px);
    display: inline-block;
    font-size: 12px;
}
.gnb li{
    display: inline-block;
}
/*.vendor-join:hover > p{*/
/*    display:block;*/
/*}*/